body            { font-family: sans-serif;margin: 0 auto; }
a,h2            { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
td              { padding: 0 5px}
.page           {
                  /*margin: 2em auto; width: 35em;*/
                  /*border: 5px solid #ccc;padding: 0.8em;*/
                   background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right;
                  /*font-size: 0.8em;*/
                  padding: 0.3em;
                  color:#fff;
                  /*margin-bottom: 1em;*/
                  background: #000; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.title{
  background: #111;
  padding: 0.8em 1.2em;
}
.title h1{
  color: #fff;
}
.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.hero-unit p{
    font-size: 12px;
    padding: 0px 60px 0px;
}
.hero-unit h3{
  font-size: 16px;
  font-family:'Georgia';
  padding: 30px 60px 10px;
}

.hero-unit img{
  padding: 0;
  display: block;
  position: absolute;
  right: 20%;
  margin-top: 30px;
  opacity: 0.3;
}
.copyBtn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: white;
}
.timesBtn{
    background: #999;
}
.checkBtn{
    cursor: pointer;
    background: #4CAF50;
}
#copy:hover {
    background: #eee;
    color: #000;
}
@media screen and (min-width: 960px){
  .hero-unit{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #frame_player{
    width: 60%;
    border: none;
    min-height: 300px;
    margin: 0 auto;
    display: block;
  }

}

@media screen  and (max-width: 959px) {
  .hero-unit{
    width: 100%;
  }
  #frame_player{
    width: 100%;
    border: none;
    min-height: 600px;
  }
}
