{% extends "layout.html" %}
{% block body %}

<div class="hero-unit">
    <p>判断你听到的这段旋律，是计算机生成，还是人类作曲的。</p>
    <p>Distinguish between machine and human beings</p>
  <!-- <audio id="player" type="audio/mp3"> </audio> -->
  <!-- <button onclick="testAI(0)"><h2>人类作曲</h2></button>
  <button onclick="testAI(1)"><h2>机器作曲</h2></button> -->
</div>
  <iframe id="frame_player"></iframe>
<div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='muse.js') }}"></script>
{% endblock %}
