{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <!-- <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form> -->
    <table align=center class=entries>
      <tr><th>id</th><th>name</th> <th>type</th><th>test_type</th><th>time<th><th>?<th></tr>
    {% for entry in entries %}
      <tr><td>{{ entry.id }}</td><td align=center >{{ entry.name }}</td> <td>{{ entry.type }}</td>
          <td align=center>{{ entry.testtype }}</td><td>{{ entry.times }}
            <td><td>
              {% if entry.type== entry.testtype %}
                  {{ true }}
                {% else %}
                  {{ false }}
                {% endif %}
            </td></tr>
    {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}
